*                             text=auto
*.css                         text
*.js                          text
*.md                          text
*.txt                         text
*.version                     text
